@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.cococay {
    background-image: url("../../assets/images/card-images/weekend_getaways.jpg");
    background-position: center;
    background-size: cover;
    width: 110%;
    text-align: center;
    
}

.caribbean {
    background-image: url("../../assets/images/card-images/carribean_cruises.jpg");
    text-align: center;
}

.europe {
    background-image: url("../../assets/images/card-images/europe_cruises.jpg");
    text-align: center;
}

.alaska {
    background-image: url("../../assets/images/card-images/alaska\ cruises.jpg");
    text-align: center;
}

.cruise-card {
    
    width: 87%;
    margin-top: 1rem;
    border-radius: 4px;
    height: 300px;
    @include component-left-right-margin;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__subhead{
        color: white; 
        text-align: center;
    }

    &__head{
        color: white; 
        text-align: center;
    }

    &__subfoot{
        color: white; 
        text-align: center;
    }

    &__price{
        color: white; 
        text-align: center;
    }
}

.cruise-card-background {
    background-color: rgba(0, 0, 0, 0.263);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}