@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.hero {
    background-image: url("../../assets/images/Family_Paddle_Boarding_on_Vacation_Polyvision_1920_480_FAM-NF_2x.jpg");
    background-position: right;
    height: 35vh;
    

    &__content {
        @include component-left-right-padding;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.186);
        width: 100%;
        font-family: "Kapra Condensed";

        &-tagline {
            
            &-sub {
                color: white;
                @include sub-header;
                margin-bottom: 0;
                padding-bottom: 0;
            }

            &-header {
                color: white;
                @include page-header;
            }
        }

        &-btn {
            margin-top: .5rem;
        }
    }
}