@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.final {
    
    &__title {
        @include sub-header;
        text-align: start;
        color: white;
    }

    &__answer {
      
        color: white;
        
    }

}

.questionaire-prompt {
    padding: 5px;

    .selections {
        color: white;
        
        margin-right: 20px;

        &-radio {
            margin-right: 3px;
        }
    }
}

.questionaire-prompt-title {
    color: white;
  
    margin-bottom: 10px;
}

.selections-radio {
    margin-left: 5px;
}

.survey-button {
    // background-color: ;
}

.survey-button {
    border: none;
    width: 50px;
    color: rgb(0, 0, 102);
    background-color: rgb(253, 187, 17);
    border-radius: 3px;
    
}