@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.footer {
    margin-top: $mobile-spacing-between-components;

    &__logos {
        background-color: #203559;



        &--container {
            display: flex;
            flex-direction: column;
            gap: 0.625rem;
            background-color: blue;
        }
    }





    &__image,
    &__image2,
    &__image3,
    &__image4 {
        width: 30%;
        margin: 0 auto;
        border-bottom: 2x solid black;




    }

}