.action-button {
    border-radius: .3125rem;
    border: none;
    
    
    width: 100px;

}

.blue {
    background-color: #005EDC;
    color: white;
}

.yellow {
    background-color: #FDBB11;
    color: #000066;
}