@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.action-button {
    border-radius: 2px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100px;
    @include labels-links-buttons;

}

.blue {
    background-color: #005edc;
    color: white;
    border-radius: 20px;
}

.yellow {
    background-color: #FDBB11;
    color: #000066;
    border-radius: 20px;
}